name: GitHub Metrics
on:
    # Schedule daily updates
    schedule: [{ cron: "0 0 * * *" }]
    workflow_dispatch:
    push: { branches: ["main"] }

jobs:
    github-metrics:
        runs-on: ubuntu-latest
        permissions:
            contents: write # Needed to write the SVG files
        steps:
            - uses: lowlighter/metrics@latest
              with:
                  # GitHub token
                  token: ${{ secrets.METRICS_TOKEN }}

                  # ----------
                  #  PLUGINS
                  # ----------

                  # Base settings
                  base: header, activity, community, repositories, metadata

                  # Header
                  plugin_header: yes
                  plugin_isocalendar: yes
                  plugin_isocalendar_duration: full-year # Show a full year heatmap

                  # Languages
                  plugin_languages: yes
                  plugin_languages_details: bytes-size, percentage
                  plugin_languages_threshold: 0% # Show all languages
                  plugin_languages_colors: "github"
                  plugin_languages_limit: 8 # Show top 8

                  # Habits
                  plugin_habits: yes
                  plugin_habits_from: 200 # Analyze last 200 commits
                  plugin_habits_charts: yes
                  plugin_habits_days: 14 # Show last 14 days
                  plugin_habits_facts: yes

                  # Achievements
                  plugin_achievements: yes
                  plugin_achievements_threshold: C # Show C-rank achievements and up
                  plugin_achievements_limit: 0 # Show all

                  # Dracula theme
                  config_display: "regular"
                  config_timezone: America/Los_Angeles # Set to your timezone
                  config_theme: dracula
